---
## 2월 12일 칼럼 - KBO 명예의 전당에 헌액될 선수는 누구일까?
- https://minding-deep-learning.tistory.com/97?category=1037020

### 1. 데이터 수집 및 정제

In [1]:
import pandas as pd
import numpy as np
import selenium
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import Select
from selenium.webdriver import ActionChains
import time
import warnings
warnings.filterwarnings('ignore')

In [2]:
# 82년도부터 21년도까지의 xpath 주소
xpath_list = []

for i in range(2, 42):
    xpath_list.append('/html/body/div[1]/div[1]/div/section[2]/div/div[2]/div[1]/div/div[1]/div/ul/div/button[{0}]'.format(i))

In [3]:
def crawler(page_address, year_xpath):
    # Chromedriver 옵션 설정
    options = webdriver.ChromeOptions()
    options.add_argument("headless")
    options.add_argument("window-size=976,1056")

    # execute driver & connect page
    driver = webdriver.Chrome('./chromedriver', options=options)
    driver.get(page_address)
    time.sleep(3)

    # 스크롤을 위한 ActionChains 모듈 선언
    action = ActionChains(driver)
    
    # 연도 옵션 설정
    yearbutton = driver.find_element_by_xpath('/html/body/div[1]/div[1]/div/section[2]/div/div[2]/div[1]/div/div[1]/div/button')
    time.sleep(2)
    yearbutton.click()
    
    # 연도 지정
    time.sleep(2)
    year_select = driver.find_element_by_xpath(year_xpath)
    driver.execute_script("window.scrollTo(0, 200);") # 광고로 인해 옵션버튼이 가려질 수 있으므로
    year_text = year_select.text
    year_select.click()
    
    # 100개씩 정렬하기 위한 옵션설정
    # optionbutton = driver.find_element_by_xpath('/html/body/div[1]/div[1]/div/section[2]/div/div[2]/div[1]/div/div[8]/button')
    # driver.execute_script("window.scrollTo(0, 100);") # 광고로 인해 옵션버튼이 가려질 수 있으므로
    # time.sleep(2)
    # optionbutton.click()

    # 정렬 개수 100개로 설정
    # print_num = Select(driver.find_element_by_xpath('//*[@id="opt_div"]/div[2]/div[5]/form/select'))
    # print_num.select_by_value('100')

    # 첫번째 다음버튼 선언 (2페이지부터는 '이전'버튼이 생겨 xpath가 바뀜)
    if year_text == '21':
        first_nextbutton = driver.find_element_by_xpath('/html/body/div[1]/div[1]/div/section[2]/div/div[2]/div[6]/div/div/div[4]/table/tbody/tr/td[2]/a[2]')
    else:
        first_nextbutton = driver.find_element_by_xpath('/html/body/div[1]/div[1]/div/section[2]/div/div[2]/div[5]/div/div/div[4]/table/tbody/tr/td[2]/a[2]')
        
    p_list = []
    count = 0
    while True:
        player = driver.find_element_by_id('mytable') # 크롤링 대상인 지표만을 선정
        count += 1
        for p in player.find_elements_by_tag_name('tr'):
            record = p.text
            p_list.append(record.split()) # 한 선수마다 하나의 list로 만들어서 저장
        driver.execute_script("window.scrollTo(0, document.body.scrollHeight);") # 맨 아래까지 스크롤, 광고로 가려짐을 피하기 위해
        if year_text == '21':
            nextbutton = driver.find_element_by_xpath('/html/body/div[1]/div[1]/div/section[2]/div/div[2]/div[6]/div/div/div[4]/table/tbody/tr/td[2]/a[3]')
        else :
            nextbutton = driver.find_element_by_xpath('/html/body/div[1]/div[1]/div/section[2]/div/div[2]/div[5]/div/div/div[4]/table/tbody/tr/td[2]/a[3]')
        time.sleep(2)
        if count == 1: # 첫 번째 페이지일 때
            first_nextbutton.click()
            time.sleep(2)
        else: # 두 번째 페이지 이상일 때
            if nextbutton.text == '마지막':
                print(count, '페이지 수집완료.')
                break
            nextbutton.click()
            time.sleep(2)
            
    return p_list

In [5]:
def pitch_data_clear(crawling_list) :
    # 10명의 기록마다 컬럼명이 새로 생기므로 이를 없애줌
    while True:
        try:
            crawling_list.remove(['순', '이름', '팀', '정렬', '출장', '완투', '완봉', '선발', '승', '패', '세', '홀드', '이닝', '실점', '자책', '타자', '안타', '2타', '3타', '홈런', '볼넷', '고4', '사구', '삼진', '보크', '폭투', '비율', 'WAR', 'WPA'])
            crawling_list.remove(['WAR', 'ERA', 'FIP', 'WHIP', 'ERA+', 'FIP+'])
        except:
            break
        
    
    data_list = []
    
    for c in crawling_list:
        data_list.append(c[:17])
        
    # dataframe에 사용할 컬럼명 list로 선언
    record_col = ['순', '이름', '팀', '정렬', '출장', '완투', '완봉', '선발', '승', '패', '세', '홀드', '이닝', '실점', '자책', '타자', '안타']
    
    # 컬럼만 있는 빈 데이터프레임 생성
    pitch_df = pd.DataFrame(columns=record_col)
    
    # 각 선수들의 기록을 행 형태로 삽입하기 위하여 Series 형태로 변환 뒤 df에 삽입
    for d in data_list:
        pitch_df = pitch_df.append(pd.Series(d, index=pitch_df.columns), ignore_index=True)
        
    # 시즌과 팀 이름 분리
    # pitch_df['시즌'] = pitch_df.팀.str[:2]
    # pitch_df['팀'] = pitch_df.팀.str[2:]
    
    return pitch_df

In [6]:
def bat_data_clear(crawling_list) :
    # 10명의 기록마다 컬럼명이 새로 생기므로 이를 없애줌
    while True:
        try:
            crawling_list.remove(['순', '이름', '팀', '정렬', 'G', '타석', '타수', '득점', '안타', '2타', '3타', '홈런', '루타', '타점', '도루', '도실', '볼넷', '사구', '고4', '삼진', '병살', '희타', '희비', '비율', 'WAR*', 'WPA'])
            crawling_list.remove(['WAR*', '타율', '출루', '장타', 'OPS', 'wOBA', 'wRC+'])
        except:
            break
        
    
    data_list = []
    
    for c in crawling_list:
        data_list.append(c[:23])
        
    # dataframe에 사용할 컬럼명 list로 선언
    record_col = ['순', '이름', '팀', '정렬', 'G', '타석', '타수', '득점', '안타', '2타', '3타', '홈런', '루타', '타점', '도루', '도실', '볼넷', '사구', '고4', '삼진', '병살', '희타', '희비']
    
    # 컬럼만 있는 빈 데이터프레임 생성
    pitch_df = pd.DataFrame(columns=record_col)
    
    # 각 선수들의 기록을 행 형태로 삽입하기 위하여 Series 형태로 변환 뒤 df에 삽입
    for d in data_list:
        pitch_df = pitch_df.append(pd.Series(d, index=pitch_df.columns), ignore_index=True)
        
    # 시즌과 팀 이름 분리
    # pitch_df['시즌'] = pitch_df.팀.str[:2]
    # pitch_df['팀'] = pitch_df.팀.str[2:]
    
    return pitch_df

In [8]:
# dataframe에 사용할 컬럼명 list로 선언 (투수)
record_col = ['순', '이름', '팀', '정렬', '출장', '완투', '완봉', '선발', '승', '패', '세', '홀드', '이닝', '실점', '자책', '타자', '안타']

# 컬럼만 있는 빈 데이터프레임 생성
pitch_df = pd.DataFrame(columns=record_col)
pitch_df

for x in xpath_list:
    crawling_list = crawler('http://www.statiz.co.kr/stat.php?re=1&lr=0', x)
    df = pitch_data_clear(crawling_list)
    pitch_df = pd.concat([pitch_df, df])
    
pitch_df.to_csv('pitch82_21.csv')

2 페이지 수집완료.
2 페이지 수집완료.
2 페이지 수집완료.
3 페이지 수집완료.
3 페이지 수집완료.
3 페이지 수집완료.
4 페이지 수집완료.
4 페이지 수집완료.
4 페이지 수집완료.
5 페이지 수집완료.
5 페이지 수집완료.
5 페이지 수집완료.
5 페이지 수집완료.
5 페이지 수집완료.
5 페이지 수집완료.
5 페이지 수집완료.
5 페이지 수집완료.
6 페이지 수집완료.
6 페이지 수집완료.
6 페이지 수집완료.
6 페이지 수집완료.
6 페이지 수집완료.
6 페이지 수집완료.
6 페이지 수집완료.
6 페이지 수집완료.
6 페이지 수집완료.
7 페이지 수집완료.
7 페이지 수집완료.
7 페이지 수집완료.
7 페이지 수집완료.
7 페이지 수집완료.
7 페이지 수집완료.
8 페이지 수집완료.
9 페이지 수집완료.
9 페이지 수집완료.
8 페이지 수집완료.
9 페이지 수집완료.
9 페이지 수집완료.
10 페이지 수집완료.
11 페이지 수집완료.

In [9]:
# dataframe에 사용할 컬럼명 list로 선언 (투수)
record_col = ['순', '이름', '팀', '정렬', 'G', '타석', '타수', '득점', '안타', '2타', '3타', '홈런', '루타', '타점', '도루', '도실', '볼넷', '사구', '고4', '삼진', '병살', '희타', '희비']

# 컬럼만 있는 빈 데이터프레임 생성
bat_df = pd.DataFrame(columns=record_col)
bat_df

for x in xpath_list:
    crawling_list = crawler('http://www.statiz.co.kr/stat.php?re=0&lr=0', x)
    df = bat_data_clear(crawling_list)
    bat_df = pd.concat([bat_df, df])
    
bat_df.to_csv('bat82_21.csv')

4 페이지 수집완료.
4 페이지 수집완료.
5 페이지 수집완료.
5 페이지 수집완료.
6 페이지 수집완료.
6 페이지 수집완료.
6 페이지 수집완료.
7 페이지 수집완료.
7 페이지 수집완료.
8 페이지 수집완료.
8 페이지 수집완료.
8 페이지 수집완료.
8 페이지 수집완료.
8 페이지 수집완료.
8 페이지 수집완료.
8 페이지 수집완료.
7 페이지 수집완료.
7 페이지 수집완료.
7 페이지 수집완료.
8 페이지 수집완료.
8 페이지 수집완료.
8 페이지 수집완료.
8 페이지 수집완료.
7 페이지 수집완료.
7 페이지 수집완료.
10 페이지 수집완료.
10 페이지 수집완료.
10 페이지 수집완료.
9 페이지 수집완료.
9 페이지 수집완료.
10 페이지 수집완료.
9 페이지 수집완료.
11 페이지 수집완료.
13 페이지 수집완료.
13 페이지 수집완료.
12 페이지 수집완료.
12 페이지 수집완료.
12 페이지 수집완료.
13 페이지 수집완료.
14 페이지 수집완료.

In [38]:
pitch_df = pd.read_csv('pitch82_21.csv')
bat_df = pd.read_csv('bat82_21.csv')

## 3. JAWS

In [19]:
pitch_grouped = pitch_df['정렬'].groupby(pitch_df['이름'])
pitch_season_count = pd.DataFrame(pitch_grouped.count())
pitch_over10y_player = pitch_season_count[pitch_season_count['정렬'] >= 7]

In [27]:
bat_grouped = bat_df['정렬'].groupby(bat_df['이름'])
bat_season_count = pd.DataFrame(bat_grouped.count())
bat_over10y_player = bat_season_count[bat_season_count['정렬'] >= 7]

In [28]:
pitch_over10y_list = list(pitch_over10y_player.index)
bat_over10y_list = list(bat_over10y_player.index)

In [29]:
record_col = ['이름' , '7시즌 WAR', '통산 WAR', 'JAWS']
pitch_jaws_df = pd.DataFrame(columns=record_col)
bat_jaws_df = pd.DataFrame(columns=record_col)

In [30]:
for p in pitch_over10y_list:
    war_7y = pitch_df[pitch_df['이름'] == p].sort_values(by='정렬', ascending=False)['정렬'][:7].sum()
    war_all = pitch_df[pitch_df['이름'] == p].sort_values(by='정렬', ascending=False)['정렬'].sum()
    data = {'이름' : p,
            '7시즌 WAR' : war_7y,
            '통산 WAR' : war_all,
            'JAWS' : (war_all + war_7y) / 2}
    pitch_jaws_df = pitch_jaws_df.append(data, ignore_index=True)

In [31]:
for b in bat_over10y_list:
    war_7y = bat_df[bat_df['이름'] == b].sort_values(by='정렬', ascending=False)['정렬'][:7].sum()
    war_all = bat_df[bat_df['이름'] == b].sort_values(by='정렬', ascending=False)['정렬'].sum()
    data = {'이름' : b,
            '7시즌 WAR' : war_7y,
            '통산 WAR' : war_all,
            'JAWS' : (war_all + war_7y) / 2}
    bat_jaws_df = bat_jaws_df.append(data, ignore_index=True)

In [47]:
pitch_jaws_df.sort_values(by='JAWS', ascending=False).head(30)

      이름  7시즌 WAR  통산 WAR    JAWS
145  선동열    78.89  101.29  90.090
157  송진우    38.09   69.08  53.585
281  정민철    43.79   59.70  51.745
320  최동원    47.70   47.72  47.710
64   김용수    37.17   58.01  47.590
259  임창용    40.33   54.71  47.520
175  양현종    40.86   51.60  46.230
96   류현진    44.76   44.76  44.760
282  정민태    40.04   45.31  42.675
205  윤학길    40.40   44.59  42.495
33   김광현    37.98   46.31  42.145
209  이강철    33.80   50.01  41.905
336  한용덕    35.01   48.14  41.575
294  조계현    36.36   45.03  40.695
17   구대성    35.10   41.93  38.515
50   김상진    31.61   45.30  38.455
149  손민한    31.95   40.80  36.375
280  정명원    33.03   37.06  35.045
136  배영수    30.42   38.08  34.250
61   김시진    33.43   34.59  34.010
203  윤성환    28.80   38.95  33.875
201  윤석민    30.39   37.31  33.850
230  이상훈    29.29   38.34  33.815
179  염종석    26.61   39.15  32.880
94   니퍼트    32.38   33.24  32.810
110  박명환    29.64   35.65  32.645
331   켈리    32.50   32.50  32.500
182  오승환    29.33   35.28  32.305
267  장원준    29.17   34.32  31.745
304  주형광    31.14   32.31  31.725

In [46]:
pitch_jaws_df.sort_values(by='JAWS', ascending=False)[:50].mean()

7시즌 WAR    31.9466
통산 WAR     39.2276
JAWS       35.5871
dtype: float64

In [44]:
bat_jaws_df.sort_values(by='JAWS', ascending=False).head(30)

       이름  7시즌 WAR  통산 WAR    JAWS
321   양준혁    49.56   87.25  68.405
383   이승엽    50.76   71.88  61.320
517    최정    45.00   77.45  61.225
401   이종범    54.51   67.76  61.135
194   김태균    39.80   77.07  58.435
374   이병규    38.41   71.73  55.070
524   최형우    43.20   65.71  54.455
118   김동주    42.43   66.37  54.400
369   이만수    42.26   65.30  53.780
228   박경완    37.97   67.62  52.795
438   장종훈    42.42   62.71  52.565
250   박재홍    41.79   60.65  51.220
364   이대호    43.56   57.79  50.675
203   김현수    40.26   59.03  49.645
308   심정수    42.78   56.17  49.475
237   박석민    37.97   57.54  47.755
550   홍현우    42.84   52.47  47.655
281   손아섭    38.49   55.63  47.060
112   김기태    39.98   53.31  46.645
2    07두P    45.00   48.00  46.500
319   양의지    39.02   53.85  46.435
76    강민호    34.88   57.58  46.230
431   장성호    36.24   55.70  45.970
246   박용택    33.73   58.20  45.965
373   이범호    34.26   57.29  45.775
116   김동수    32.07   55.47  43.770
68   21키P    31.00   56.00  43.500
47   18KP    35.00   52.00  43.500
236   박병호    41.41   43.99  42.700
172   김재현    32.82   52.13  42.475

In [48]:
bat_jaws_df.sort_values(by='JAWS', ascending=False)[:50].mean()

7시즌 WAR    37.0456
통산 WAR     54.0596
JAWS       45.5526
dtype: float64